@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v19-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v19-cyrillic_latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-cyrillic_latin-700.woff2') format('woff2');
}

:root {
  --primary-white: #FFFFFF;
  --primary-light-blue: #2B7FFF;
  --primary-dark-blue: #011C44;
  --secondary-dark-grey: #4A4A4A;
  --secondary-light-grey: #747272;
  --secondary-dark-blue: #011F4A;
  --secondary-yellow: #FFD02B;
}

/* base */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--primary-dark-blue);
  font-style: normal;
}

body {
  color: var(--primary-dark-blue);
  font-family: "Roboto", sans-serif;
  margin: 0;
  /* background-image: url(../images/background-blue.jpg);
  background-repeat: no-repeat;
  background-position: center 1420px;
  background-size: contain; */
  background: no-repeat center 1420px url(../images/background-blue.jpg);
  background-size: contain;
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.accent {
  color: var(--primary-light-blue);
}

.section-title {
  font-size: 64px;
  font-family: "Play";
  line-height: 1.2;
  margin-bottom: 48px;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
  /* background-color: gray; */

}

/* button */
.button {
  background-color: var(--primary-light-blue);
  border: 2px solid var(--primary-light-blue);
  border-radius: 32px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 14px;
  padding: 16px 32px;
  color: var(--primary-white);
  cursor: pointer;

}

.button:hover {
  background-color: transparent;
  color: var(--primary-dark-blue);
  border: 2px solid var(--primary-light-blue);
}

/* header */

.header-nav-link {
  font-size: 18px;
  line-height: 1.2;
}

.header-nav-link:hover {
  color: var(--primary-light-blue);

}

.header-flex {
  display: flex;
  align-items: center;
  padding: 32px 0;
}

.logo-links {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.header-links {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 56px;
}

.icons-header {
  display: flex;
  gap: 32px;
}

.icon-header {
  width: 32px;
  height: 32px;
  fill: var(--primary-dark-blue);
}

.icon-header:hover {
  fill: var(--primary-light-blue);
}

/* hero section */
.hero-section {
  padding: 122px 0 126px 0;
  background-image: url(../images/hero-back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-bottom: 40px;
  font-size: 140px;
  font-family: "Play";
  color: var(--primary-light-blue);
  line-height: 0.8;
}

.hero-text-one {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 16px;
}

.hero-text-two {
  font-size: 12px;
  max-width: 220px;
  margin-bottom: 0;
  line-height: 1.5;
  text-align: center;
}

/* about-us-section */
.about-us-section {
  padding: 0 0 176px 0;
  /* background-image: url(../images/Star\ 2.svg);
  background-repeat: no-repeat;
  background-position: 76% 33px;
  background-attachment:scroll;  */
  /* background: no-repeat 91% 33px scroll url(../images/Star\ 2.svg), no-repeat 66% 336px scroll url(../images/Star\ 1.svg); */

}

.about-us-title {
  margin: 40px 0;
}

.about-us-text {
  font-size: 22px;
  line-height: 1.7;
}

.about-us-accent {
  font-weight: 700;
}

.about-us-flex {
  display: flex;
  gap: 28px;
}

.about-us-left-content {
  max-width: 708px;
}

.about-us-photos-right {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  gap: 40px;
  position: relative;
}

/* Stars elements */
.star_one {
  position: absolute;
  top: 33px;
  right: -10px;
}

.star_two {
  position: absolute;
  top: 336px;
  right: 303px;
}

.star_three {
  position: absolute;
  top: 270px;
  right: 6px;
}

.photo {
  display: flex;
}

.photo_frame {
  border-radius: 50%;
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.2);
}

.photo.after {
  flex-direction: row-reverse;
}

/* why-we-section */
.container.why-we {
  padding: 0 114px;
}

.why-we-title {
  max-width: 432px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.why-we-section {
  padding-top: 0;
}

.why-we-text {
  font-size: 18px;
  line-height: 1.3;
  max-width: 252px;
  text-align: center;
  margin-bottom: 0;
}

.why-we-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  gap: 56px;
}

.why-we-items {
  background-color: var(--primary-white);
  border-radius: 32px;
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
  width: calc((100% - 112px) / 3);
}

.why-we-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 32px;
}

.why-we-icon {
  max-width: 48px;
  margin-bottom: 12px;
}

/* procedures */
.section-title.procedures {
  max-width: 510px;
  margin-left: auto;
  margin-right: auto;
}

.procedures-scroll-container {
  display: flex;
  align-items: center;
  padding: 0 12px;
  width: 100%;
  gap: 32px;
}

.procedures-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.procedures-card {
  border-radius: 4px 120px 4px 120px;
  position: relative;
  height: 456px;
}

.procedures-card-title {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  color: var(--primary-white);
  position: absolute;
  bottom: 32px;
  right: 104px;
}

/* carousel */

.carousel-button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  background-color: transparent;
  fill: var(--primary-dark-blue);
  border: 1px solid var(--primary-dark-blue);
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
}

.carousel-button:hover {
  fill: var(--primary-white);
  border: 1px solid var(--primary-white);
  background-color: var(--primary-light-blue);
}

/* contacts */
.contacts-title {
  text-align: center;
}

.contacts-container {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.map {
  width: 605px;
  height: 481px;
  border-radius: 32px;
  border: none;
}

.contacts-form {
  background: no-repeat url(../images/contacts-back.png);
  background-size: cover;
  background-color: var(--primary-dark-blue);
  border-radius: 32px;
  padding: 48px 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-form-title {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--primary-white);
}

.contacts-form-title {
  max-width: 274px;
  text-align: center;
}

.contacts-button {
  text-wrap: nowrap;
  margin-bottom: 8px;

}

.contacts-button:hover {
  color: var(--primary-white);
}

/* footer */
.footer-section {
  background-color: var(--primary-dark-blue);
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  padding: 56px 0;
  gap: 24px;
}

.footer-nav-link {
  font-size: 16px;
  line-height: 1.2;
  color: var(--primary-white);
}

.footer-column-gap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-address-link {
  font-size: 16px;
  line-height: 1.2;
  color: var(--primary-white);
}

.data-protected {
  font-size: 13px;
  line-height: 1.2;
  color: var(--secondary-light-grey);
}

.icons-footer {
  display: flex;
  gap: 24px;
  margin-top: 16px;
}

.icon-footer {
  fill: var(--primary-white);
}