* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--primary-dark-blue);
  font-style: normal;
  display: block;
}

body {
  color: var(--primary-dark-blue);
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: no-repeat center 1310px url(../images/background-blue.jpg);
  background-size: contain;
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}