:root {
  --primary-white: #FFFFFF;
  --primary-light-blue: #2B7FFF;
  --primary-dark-blue: #011C44;
  --secondary-dark-grey: #4A4A4A;
  --secondary-light-grey: #747272;
  --secondary-dark-blue: #011F4A;
  --secondary-yellow: #FFD02B;
  --alpha: 0.8;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;