.form-box {

  &__title {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--primary-white);
    max-width: 274px;
    text-align: center;
    margin-bottom: 24px;

    &--accent {
      color: var(--primary-light-blue);
    }

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 32px;
    }
  }

  &__button {
    text-wrap: nowrap;
    margin: 0 auto 8px;

    &:hover {
      color: var(--primary-white);
    }
  }

  &__privacy-policy {
    font-size: 12px;
    line-height: 1.5;
    color: var(--secondary-light-grey);
    text-align: center;
    margin-bottom: 0;
  }

  &__privacy-policy-link {
    color: var(--secondary-light-grey);
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}