.hero-section {
  padding: 72px 0 56px 0;
  background-image: url(../images/hero-back.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image:url(../images/hero-back@2x.jpg);
    }

  @media screen and (min-width: $bp-tablet) {
    padding: 122px 0 126px 0;
  }

  &__container {
    @media screen and (min-width: $bp-tablet) {
      padding-left: 106px;
    }
  }

  &__text-one {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 4px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 16px;
      text-align: left;
    }
  }

  &__title {
    margin-bottom: 32px;
    font-size: 54px;
    text-align: center;
    font-family: "Play";
    color: var(--primary-light-blue);
    line-height: 0.8;

    @media screen and (min-width: $bp-tablet) {
      font-size: 140px;
      width: 529px;
      margin-bottom: 40px;
      text-align: left;
    }
  }

  &__btn {
    margin: 0 auto 8px;
    @media screen and (min-width: $bp-tablet) {
      margin: 0 0 14px;
    }
  }

  &__text-two {
    font-size: 11px;
    max-width: 220px;
    margin: 0 auto;
    line-height: 1.5;
    text-align: center;
    background-color: rgb(from var(--primary-white) r g b / 30%);
    box-shadow: 0 0 5px 5px rgb(from var(--primary-white) r g b / 30%);

    @media screen and (min-width: $bp-tablet) {
      font-size: 12px;
      text-align: left;
      margin: 0;
    }
  }
}
